
/* Initial CSS styling set  */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Initial styling setup continued */
*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}


.wrapper{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./image/backg1.jpg);
    background-size:cover;
    background-position: center;
    padding-top: 60px;


}





.header{

    min-height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    
}

.header-content{

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 30px;

}

.nav-list{
    display: flex;
    column-gap: 40px;
}

.nav-link{
    font-size: 20px;
    transition: all 0.4s;
}

.nav-link:hover{
    color: #b84c5e;
}

.logo{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}
span{
    color: #b84c5e
}

    .icon-link{
        color: #000;
    }
    .icon{
        text-align: center;
        padding-top: 15px;
    }
    


.social-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
}



.social-bar .social-button{
    color: #000;
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}




.social-button:hover{
    width: 100px;
    transition: 0.7s;
}


.social-button:nth-child(1):hover .icon{
    color: #093f6f;
}

.social-button:nth-child(2):hover .icon{
    color: #58a5d1;
}

.social-button:nth-child(3):hover .icon{
    color: #144f82;
}




.home-content{
    display: flex;
    justify-content: space-around;

  
    margin-left: 10%;

    
}

.home-h1{

    font-size: 3rem;
    font-weight: 700;
    text-align: center;
   margin: 8% ;
    color: #fff;

  text-shadow: 2px 2px #ff0000;
    
}

.home-p{
    margin-bottom: 20px;
    width: 600px;
    color: #fff;
    margin: 2% 7%;
    font-size: 1.5rem;
    }

   

    

/*contact button*/
.btn{
    border: 1px solid #ea1538;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;

    
}
.btn:hover{
    color: #ea1538;
    background-color: #fff;
}

.button-contact{
    text-align: center;
}



/* Our Team Section */

.ourteam {
    /* margin-top: 20rem; */
    text-align: center;
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    background-color: #303030;
    background-color: lavender;
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(236, 230, 230, 0.1)), url(./image/Background\ colors.jpg);
}
/* 1260px width Change our team elements to stack.  */

/* @media (max-width: 1260px) {
 
    .ourteam--content1{
      display: inline;
    }
}; */


.ourteam--title{
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    line-height: 2;
    color: white;
    padding: 1rem 1rem 2rem 2rem;
    /* border: solid red 2px; */
}
.ourteam--content1{  
    /* border: 2px solid rgb(255, 0, 183); */
    margin-inline:  auto;
    padding: 1rem 2em;
    display: flex;
    width: 80%;
   justify-content: space-between;
   
}

.ourteam--pic{
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
    margin: 1rem 1rem;
    border-radius: 100%; 
    justify-content: center;
   

}

.ourteam--content2{  
    /* border: 2px solid rgb(255, 0, 183); */
    margin-inline:  auto;
    padding: 1rem 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
   
}

.member-details{
    display: flex;
    flex-direction: column;
    /* border: solid 2px rgb(21, 0, 255); */
    padding: 2.5rem 7em;
   
}

.ourteam--name {
    font-size: 2rem;
    color: white;

}
.ourteam--about{
    font-size: 1.5rem;
    max-width: 40ch;
    color: white;
    margin-bottom: 1rem;

}

.ourteam--btn{

    border: 1px solid #ea1538;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;}


.ourteam--btn{
background-color: white;
color: rgb(8, 7, 7);
padding: 0.4rem 1rem;
margin-top: 1rem;
font-weight: 400;
margin-left: auto;
margin: auto;
cursor: pointer;
}

.glow-on-hover {
    margin-left: auto;
margin: auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }

}

@media (max-width: 1200px) {
    .ourteam--content1,
    .ourteam--content2 {
      flex-direction: column;
      align-items: center;
    }
    
    .ourteam--pic {
      margin: 1rem auto;
    }
  }
/* Portfolio Section */

.portfolio{
    /* margin-top: 10rem; */
    text-align: center;
    background-color: #303030;
    color: white;
    background-color: lavender;
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(236, 230, 230, 0.1)), url(./image/Background\ colors.jpg);
    
    
}
.portfolio--title{
   color: white;
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-top: 3rem;
  

}
.portfolio--description{
    font-size: 1.5rem;
    max-width: 40ch;
    margin: 1rem auto;

}
.portfolio--container{
display: flex;
gap: 2rem;
flex-wrap: wrap;
justify-content: center;

}
.col{
    flex-basis: 50%;
    transition: transform 0.5s;
}
.col:hover{
    transform: translateX(15px);
}
.portfolio--box{
    color: rgb(255, 255, 255);
    /* background-color: rgb(104, 86, 86); */
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(104, 99, 99, 0));
    padding: 2.5rem;
    border-radius: 20px;
    flex: 1;
    min-width: 400px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width:600px;
    transition: transform 1s;
 
   
}
.portfolio--box-name{
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.portfolio--box-picture{
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 4px solid white;
    border-radius: 10%;
    margin-inline: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.portfolio--box-info{
    margin-inline: auto;
    font-size: 1rem;
    max-width: 29ch;
    margin-bottom: 0.5rem;

}




.h1-contact {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.form-container{
    background-color: #333;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.col {
    display: inline-block;
    width: 49.5%; /* Adjust as needed to control the width of the Name and Email fields */
}

label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    color: #fff;
   
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #df2828;
    border-radius: 4px;
    font-size: 16px;
    background-color: #93959b;
    
}


.form-button {
   
    border: 1px solid #ea1538;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 20px 30px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color: #ea1538;
    background-color: #fff;
}

.center-button{


    text-align: center;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 28px;
    background-color: #fff;
    margin: 5px 0;
}
.nav-open{
    transform: translate(0)!important;
}

.hamburger-open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2){
    opacity: 0;
}


.hamburger-open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}


@media screen and (min-width: 300px)and  (max-width: 650px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #0a0909;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);

    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }

    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      
    
        
    }
    
    .home-h1{
    
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
         margin: 5% ;
        color: #fff;
    
        
    }


    .home-p{
        
        font-size: 1rem;
        padding: 2% 40%;
        
        }


.social-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}




    
}


@media screen and (min-width: 651px)and  (max-width: 900px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #0a0909;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);

    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }

    
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        
    }
    .home-h1{
    
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
         
        padding: 2%;
        color: #fff;
    
        
    }


    .home-p{

        padding: 2%;
        text-align: center;
        }


.social-bar{
    display: flex;
    flex-direction: row;
    padding: 25px;

}
 
}

/* 1260px width Change our team elements to stack.  */