* {
    box-sizing: border-box;

}
body{
    background-color: rgb(0, 115, 255);
}
/* Initial styling setup continued */
*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}





a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.wrapper {
    width: 100%;
    /* align-items: center;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0; */
    min-width:min-content;

 
}





.header{

    min-height: 50px;

    background-color: #fff;
    border: 1px solid red;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0; 
    /* /* align-items: center; */

    
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0 30px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.nav-link{
    font-size: 20px;
    transition: all 0.4s;
}

.nav-link:hover{
    color: #00aeff;;
}

.logo{
    color: #0b0b0c;
    font-weight: 700;
    font-size: 2rem;
}
span{
    color: #00aeff;
}

    .icon-link{
        color: #000;
    }
    .icon{
        text-align: center;
        padding-top: 15px;
    }
    


.social-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
}



.social-bar .social-button{
    color: #000;
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    

}




.social-button:hover{
    width: 100px;
    transition: 0.7s;
}


.social-button:nth-child(1):hover .icon{
    color: #093f6f;
}

.social-button:nth-child(2):hover .icon{
    color: #58a5d1;
}

.social-button:nth-child(3):hover .icon{
    color: #144f82;
}

.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./image/backgroundblue.jpeg);
    background-size: cover;
    /* height: 60vh; */
    border: red 1px solid;
    background-position: center center; 
}


.home-content{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
   
    
}

.home-h1{

    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    margin: 6% ;

    padding-top: 5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;

    color: #fff;
  text-shadow: 2px 2px #00aeff;
    
}

.home-p{

    width: 600px;
    color: #fff;
    font-size: 1.4rem;

    /* width: 600px; */
    max-width: 60ch;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    text-align: center;
    /* margin-inline: auto; */
    margin-left: 7rem;
    margin-right: 1rem;

    }

   

    

/*contact button*/
.btn{
    border: 1px solid #dcdceb;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;

    
}
.btn:hover{
    color: #00aeff;
    background-color: #fff;
}

.button-contact{
    text-align: center;
}



/* Our Team Section */

.ourteam {
    /* margin-top: 20rem; */
    text-align: center;
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    background-color: #303030;
    background-color: lavender;
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(236, 230, 230, 0.1)), url(./image/Background\ colors.jpg);

}
/* 1260px width Change our team elements to stack.  */

/* @media (max-width: 1260px) {
 
    .ourteam--content1{
      display: inline;
    }
}; */


.ourteam--title{
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    line-height: 2;
    color: white;
    padding: 1rem 1rem 2rem 2rem;
    /* border: solid red 2px; */
}
.ourteam--content1{  
    /* border: 2px solid rgb(255, 0, 183); */
    margin-inline:  auto;
    padding: 1rem 2em;
    display: flex;
    width: 80%;
   justify-content: space-between;
   
}

.ourteam--pic{
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
    margin: 1rem 1rem;
    border-radius: 100%; 
    justify-content: center;
   

}

.ourteam--content2{  
    /* border: 2px solid rgb(255, 0, 183); */
    margin-inline:  auto;
    padding: 1rem 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
   
}

.member-details{
    display: flex;
    flex-direction: column;
    /* border: solid 2px rgb(21, 0, 255); */
    padding: 2.5rem 7em;
   
}

.ourteam--name {
    font-size: 2rem;
    color: white;

}
.ourteam--about{
    font-size: 1.5rem;
    max-width: 40ch;
    color: white;
    margin-bottom: 1rem;

}

.ourteam--btn{

    border: 1px solid #ea1538;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;}


.ourteam--btn{
background-color: white;
color: rgb(8, 7, 7);
padding: 0.4rem 1rem;
margin-top: 1rem;
font-weight: 400;
margin-left: auto;
margin: auto;
cursor: pointer;
}

.glow-on-hover {
    margin-left: auto;
margin: auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }

}

@media (max-width: 1200px) {
    .ourteam--content1,
    .ourteam--content2 {
      flex-direction: column;
      align-items: center;
    }
    
    .ourteam--pic {
      margin: 1rem auto;
    }
  }
/* Portfolio Section */

.portfolio{
    /* margin-top: 10rem; */
    text-align: center;
    background-color: #303030;
    color: white;
    background-color: lavender;
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(236, 230, 230, 0.1)), url(./image/Background\ colors.jpg);
    
    
}
.portfolio--title{
   color: white;
    font-size: 3.5rem;
    letter-spacing: 0.05em;
    line-height: 1;
    padding-top: 3rem;
  

}
.portfolio--description{
    font-size: 1.5rem;
    max-width: 40ch;
    margin: 1rem auto;

}
.portfolio--container{
display: flex;
gap: 2rem;
flex-wrap: wrap;
justify-content: center;

}
.col{
    flex-basis: 50%;
    transition: transform 0.5s;
}
.col:hover{
    transform: translateX(15px);
}
.portfolio--box{
    color: rgb(255, 255, 255);
    /* background-color: rgb(104, 86, 86); */
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(104, 99, 99, 0));
    padding: 2.5rem;
    border-radius: 20px;
    flex: 1;
    min-width: 400px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width:600px;
    transition: transform 1s;
 
   
}
.portfolio--box-name{
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.portfolio--box-picture{
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 4px solid white;
    border-radius: 10%;
    margin-inline: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.portfolio--box-info{
    margin-inline: auto;
    font-size: 1rem;
    max-width: 29ch;
    margin-bottom: 0.5rem;

}




.h1-contact {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.form-container{

background-color: #fce055;
background-image: linear-gradient(319deg, #b8a071 0%, #256eff 37%, #000517 100%);

}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}




input,
textarea {

    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 15px;
    outline: 0;
    color: #fff;
    
}

label {

    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s ease-out;
   
}



.form-button {
   
    border: 1px solid #fff;;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
    outline: none;
    width: 100%;
    transition: 0.4s;
}


input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size: 14px;
  }

  .form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-row .input-group{
    flex-basis: 48%;

  }
button:hover{
    color: #00aeff;;
    background-color: #fff;
}

.center-button{


    text-align: center;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 28px;
    background-color: #000;
    margin: 5px 0;
}
.nav-open{
    transform: translate(0)!important;
}

.hamburger-open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2){
    opacity: 0;
}


.hamburger-open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}


@media screen and (min-width: 300px)and  (max-width: 650px){
    .nav{
        position: fixed;
        top: 47px;
        /* margin-top: 5rem; */
        left: 0;
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);

    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }

    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      
    
        
    }
    
    .home-h1{
    
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        padding-top: 5rem;
         margin: 5% ;
        color: #fff;
    
        
    }


    .home-p{
        
        font-size: 1rem;
        padding-left: 2rem;
        padding-right: 70px;
        text-align: center;
        margin: 1rem auto;
        max-width: 40ch;
        
        }


.social-bar{
    flex-direction: row;
    padding: 1rem;
    padding-right: 50px;
    text-align: center;
    margin: 1rem auto;
    
}




    
}


@media screen and (min-width: 651px)and  (max-width: 900px){
    .nav{
        position: fixed;
        top: 47px;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);

    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }

    
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        
    }
    .home-h1{
    
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
         padding-top: 5rem;
        /*  */
        color: #fff;
    
        
    }


    .home-p{
        padding: 1rem;
        padding-right: 100px;
        text-align: center;
        margin: 1rem auto;
        max-width: 40ch;
        
        }


.social-bar{
    /* display: flex; */
    /* flex-direction: row;
    padding: 1px;
    width: 90%;
    margin-right: ;
    margin-inline: 30px;
    text-align: center;
    justify-content: center;
    border: red solid 1px; */
    flex-direction: row;
    padding: 1rem;
    padding-right: 100px;
    text-align: center;
    margin: 1rem auto;
    /* max-width: 40ch; */
}
 
}




@media screen and (max-width: 900px) {
    .wrapper {
        padding: 0 20x; 
    }

    .header-content {
        padding: 0 20px; /* Adjust mobile padding */
        /* width: 90%; */
    }

    .home-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px; /* Adjust mobile padding */
    }

    .home-h1 {
        font-size: 2rem;
        /* Other style adjustments as per mobile view */
    }

    .home-p {
        margin: 0 auto;
        padding: 0 20px; /* Adjust mobile padding */
        /* Other style adjustments as per mobile view */
    }

    .social-bar {
        flex-direction: row;
        justify-content: center;
        padding: 1rem 20px; /* Adjust mobile padding */
        /* Other style adjustments as per mobile view */
    }

    .nav {
        
        /* Your existing media query styles for mobile */
    }
}


/* Your existing CSS */

/* Add this media query to target smaller screens and fix the layout issue */
@media screen and (max-width: 450px) {

    .wrapper{
        margin: 0;
    }
    .header-content {
        margin: 0 /* Adjust padding for smaller screens */
    }

    .home-content {
        margin: 0; /* Reset margin */
    }

    .home-h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .home-p {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    .social-bar {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}




@media screen and (max-width: 448px) {
    
        body {
            width: 448px; /* Set your desired fixed width */
            margin: 0 auto; /* Center the content within this fixed width */
            
        }
    };